### Problem Description
- Parse each line of the input
- First digit and last digit concatenated forms a two digit number for each row
- Sum all of the digits created from each row

In [124]:
import pandas as pd
import regex as re

In [125]:
df = pd.read_csv("input.txt", header=None)

In [126]:
def find_digits(text) -> int:
    if type(text) != str:
        text = text[0]
    digits = re.findall(r'\d', text)
    return int(digits[0] + digits[-1])
    

df["nums"] = df.apply(find_digits, axis=1)

In [127]:
df["nums"].sum()

56042

In [128]:
df

                                  0  nums
0    99lbqpxzzlbtvkmfrvrnmcxttseven    99
1                 q7cnfslbtpkvseven    77
2       6threezlljtzcr1sdjkthree4cx    64
3                 21xfxfourmzmqbqp1    21
4                           lkdbjd5    55
..                              ...   ...
995                       nine6chd4    64
996     bdvkqlrh9eight6eightninehq7    97
997         fivexpx1vsrreightkp7dph    17
998                3eightlrrlgck967    37
999         xcntwone4633sixmkm1nine    41

[1000 rows x 2 columns]

### Part 2
- You must now consider spelled out numbers

In [129]:
def find_digits(text) -> int:
    digits = re.findall(r'(\d|zero|one|two|three|four|five|six|seven|eight|nine)', text[0], overlapped=True)

    help_dict = {
        'one': '1',
        'two': '2',
        'three': '3',
        'four': '4',
        'five': '5',
        'six': '6',
        'seven': '7',
        'eight': '8',
        'nine': '9'
    }

    if digits[0] in help_dict.keys():
        p1 = help_dict[digits[0]]
    else:
        p1 = digits[0]
    
    if digits[-1] in help_dict.keys():
        p2 = help_dict[digits[-1]]
    else:
        p2 = digits[-1]

    return int(p1 + p2)
    

df["nums2"] = df.apply(find_digits, axis=1)

In [130]:
df["nums2"].sum()

55358